/* ------------------- Font ------------------- */
@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009');

@font-face {
    font-family: 'Clash-displey';
    src: url("../font/ClashDisplay.ttf");
}

/* ------------------- Core ------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --clash: 'Clash-displey', sans-serif;
    --satoshi: 'Satoshi', sans-serif;
}


a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

html,
body {
    width: 100%;
    line-height: 1;
}

[class*="__container"] {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--clash);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.btn {
    width: 170px;
    height: 50px;
}


/* ------------------- Header ------------------- */

.header {
    margin-top: 37px;
}

.header__shapka {
    max-width: 1386px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }


.shopping__card {
    display: flex;
    gap: 20px;
}

.line {
    width: 1387px;
    margin-top: 60px;
    margin-left: 72px;
    border: 1px solid #000000;
}


.header__menu {
    margin-top: 35px;
}


.menu__list {
    gap: 40px;
    display: flex;
    justify-content: center;
}

.menu__link {
    color: #726E8D;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--satoshi);
}

/* ------------------- Main ------------------- */

.furniture__brand {
    height: 584px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #2A254B;
}

.furniture__content {
    padding-top: 80px;
    padding-left: 80px;
}

.furniture__text {
    color: #fff;
    padding-bottom: 65px;
    font-size: 40px;
}

.blur {
    background-color: #494465;
}

.blur a {
    color: #fff;
    font-size: 16px;
    font-family: var(--clash);
}

.furniture__paragraf {
    color: #fff;
    padding-top: 230px;
    font-size: 16px;
    letter-spacing: normal;
    font-family: var(--clash);
}



.makes__cards {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.makes__card img, .makes__card h3 {
    padding-bottom: 20px;
}

.makes__card p {
    font-size: 16px;
    line-height: 20px;
}

.makes__text {
    color: #2A254B;
    font-size: 24px;
    text-align: center;
}

.new__cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.new__text {
    margin-top: 25px;
}

.new__price {
    margin-top: 10px;
}

.btn-white {
    margin-left: 43%;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.btn-white a {
    color: #000000;
    font-size: 16px;
    font-family: var(--clash);
}

































